
.wrapper {
background-color: #F2F2F2;
padding-bottom: 90px;
}

.header {
	height: 370px;
/*	width: 100%;*/
	padding : 2px;
	background-image : url(img/fondheader.png);
}

h1 {
	font-family: "Archivo black", sans-serif; 
	font-size : 200px;
	letter-spacing: 50px; 
	text-align: center;	
	color : #686869;
}


h2 {
	font-family: "Archivo black", sans-serif;
	font-size: 30px;
	color: #686869;
	letter-spacing: 10px; 
	margin-left: -69px;
	margin-top: -26px;
	text-align: center;
}

#lose {
	color: #196969; 
	font-weight: bold;
	font-style: cursive; 
}

li {
	list-style : none;
}


.navbar-nav>li>a {
	padding: 15px 15px;
	height: 50px;
	line-height: 20px;
	background-color: #196969;
	border-radius: 5px; 
	letter-spacing: 2px;
	display: inline-block;
}

.navbar-nav p {
	color: #FDDC3F;
	font-family: "Archivo black", sans-serif;
	font-size: 18px;
}

.navbar-nav {
	padding: 0;
}

.navbar-nav li {
	margin-left: 26px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.navbar-header > a {
	background-color: #196969;
	border-radius: 5px; 
}

.navbar-header {
	margin-top: 20px;
	margin-bottom: 30px;
}

#bs-example-navbar-collapse-1 > ul > li:hover {
	background-color: #FDDC3F;
	border-radius: 5px;
	font-family: "Archivo black", sans-serif;
	font-size: 18px;
}

#bs-example-navbar-collapse-1 > ul > li:hover a p {
	color: #686869;
}
 
 body > div > nav > nav > div > div.navbar-header:hover {
 	background-color: #FDDC3F;
	border-radius: 5px;
	font-family: "Archivo black", sans-serif;
	font-size: 18px;
 }

.navbar-header:hover li p {
	color: #686869;
}

.navbar-brand a {
	border-radius: 5px; 
	letter-spacing: 2px;
	display: inline-block;
	color: #FDDC3F;
	font-family: "Archivo black", sans-serif;
	font-size: 14pt;
}

.navbar-brand li p {
	color: #FDDC3F;
	font-family: "Archivo black", sans-serif;
	font-size: 18px; 
}

.container {
	border-radius: 5px; 
	background-color: #196969;
	color: #FDDC3F;
	font-family: "Archivo black", sans-serif;
	font-size: 14pt; 
}

.navbar-nav p {
	color: #FDDC3F;
	font-family: "Archivo black", sans-serif;
	font-size: 14pt; 
}

.img-thumbnail {
	height: 200px;
	width: 200px;
	margin: 5px;
	border: 1px solid #FDDC3F;
}

.borderjaune {
	border: 1px solid #FDDC3F;
	padding: 2px;
}

.section {

}

h3 {
	font-size : 16pt;
	font-family: "Archivo black", sans-serif;
	color: #196969;
	font-weight: bold;
	margin: 5px;
}

.artimg {
	margin: 5px;
	padding: 5px;
}

p {
	font-family: "Noto sans", sans-serif;
	font-size: 14px;
	color: #383838;
	text-align: justify; 
}

.enmodeplaid {
	color: #196969;
	font-weight: bolder;
}


/*COLONNE DROITE*/

.rowaside {
	padding-bottom: 15px;
}

.titreaside {
	margin:auto;
}

.boutontwitter {
margin:auto;
}

.devenirplaider {
	background-color: #9E9E9E;
	border-radius: 5px; 
	margin-top: 15px;
	padding: 5px;
	border-radius: 5px;
}

.idee {
margin-top: 15px;
padding: 10px;
}

.philo {
	background-color: #196969;
	opacity: 0.8;
	border-radius: 5px;
	padding: 10px;
	margin-top: 15px;
}

.philo h3 {
	color: #FDDC3F;
	font-size: 19px;
}

.vide {
	height:0px;
	width:100%;
}

.footer {
	display: block;
	clear: both;
	position: fixed;
	display: inline;
	background-color: #FDDC3F;
	opacity: 0.8;
	width: 100%;
	height: 80px;
	bottom :0;
}

.winner {
/*	margin-left: 35px;
*//*	background-color: #FDDC3F;
	opacity: 0.8;*/
}

#winnerdit p {
	font-family: "Archivo black", sans-serif;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0px;
	color : #686869;
}

.citation p {
	font-family: "Noto sans", sans-serif;
	font-size: 18px;
/*	text-align: : center;
*/	font-weight: bolder;
	text-align: center;
	color : #196969;
}


.kesako {
 	font-family: "Noto sans", sans-serif;
	font-size: 16px;
	color: white;
	background-color: #FDDC3F; 
 	border : none;
 	text-align: center;
}

.boutonref {
 	font-family: "Noto sans", sans-serif;
	font-size: 16px;
	color: white;
	background-color: #196969; 
 	border : none;
 	text-align: center;
 	margin-top: 15px;
}


/*le bouton du footer*/
body > footer > div > div > div.col-md-3 > button:hover a {
	text-decoration: none;
}

body > footer > div > div > div.col-md-3 > button:hover {
	background-color: #686869;
}

body > footer > div > div > div.col-md-3 > button:visited {
	background-color: #686869;
}

/*le bouton kesako*/
body > div > nav > div > div > aside > div.twitter > div> button:hover a {
	text-decoration: none;
}


body > div > nav > div > div > aside > div.twitter > div > button:hover {
	background-color: #686869;
}
body > div > nav > div > div > aside > div.twitter > div > button:visited {
	background-color: #686869;
}

button p {
	color: white ;
	font-family: "Noto sans", sans-serif;
	font-size: 16px;
	font-weight: bolder; 
}


@media(max-width:960px) {
	h1 {
		font-size: 8rem; 
	}
}

.container-navbar {
	width: 87%;
	background-color: none;
}

