
/*.wrapper {
width: 1000px;
margin: auto;
padding: 2px;
}*/

.container-fluid {
background-color: #F2F2F2;
}

.header {
	/*background-color: #FDDC3F */;  
	height: 370px;
/*	width: 100%;*/
	padding : 2px;
	/*margin : auto;
	text-align: center; */
	background-image : url(img/fondheader.png);
}

h1 {
	font-family: "Archivo black", sans-serif; 
	font-size : 200px;
	letter-spacing: 50px; 
	text-align: center;	
	color : #686869;
}


h2 {
	font-family: "Archivo black", sans-serif;
	font-size: 30px;
	color: #686869;
	letter-spacing: 10px; 
	margin-left: -69px;
	margin-top: -26px;
	text-align: center;
	/*margin : auto;*/
	/*display : block;*/
}

#lose {
	color: #196969; 
	font-weight: bold;
	font-style: em; 
}

li {
	list-style : none;
}

.rubrique {
	background-color: #196969;
	border-radius: 5px; 
	font-size: 14pt; 
	letter-spacing: 2px;
	display: inline-block;
	/*font-family: "Noto sans", sans-serif;*/
	font-family: "Archivo black", sans-serif;
	color: #FDDC3F;
	margin-right: 25px;
	margin-left: 25px; 
	margin-bottom: 25px;
	margin-top: 35px;
	padding: 5px;
	text-align: : center;
}

img {
	height: 250px;
	width: 250px;
	margin: 5px;
	border: 1px solid #FDDC3F;
}

.borderjaune {
	border: 1px solid #FDDC3F;
	padding: 2px;
}

.section {

}

h3 {
	font-size : 16pt;
	font-family: "Noto sans", sans-serif;
	color: #196969;
	font-weight: bold;
	margin: 5px;
}

.artimg {
	margin: 5px;
	padding: 5px	;
}

/*.p1:first-letter {
	font-size: 30pt;
	font-family: "Noto sans", sans-serif;
	color: #196969;
}*/

p {
	font-family: "Noto sans", sans-serif;
	font-size: 14px;
	color: #383838;
	text-align: justify; 
}

.enmodeplaid {
	color: #196969;
	font-weight: bolder;
}

.colonnedroite {
}

.twitter {

}

.boutonsreseaux {
	
}

.devenirplaider {
	background-color: gray;
	border-radius: 5px; 
}

.idee {
	background-color: gray;
	border-radius: 5px;
}

.philo {
	padding : 5px;
	background-color: gray;
	border-radius: 5px;
}

.footer {
	clear: both;
	position: fixed;
	display: inline;
	background-color: #FDDC3F;
	opacity: 0.8;
	width: 100%;
	height: 80px;
	bottom :0;
}

.winner {
/*	margin-left: 35px;
*//*	background-color: #FDDC3F;
	opacity: 0.8;*/
}

#winnerdit p {
	font-family: "Archivo black", sans-serif;
	font-size: 20px;
	text-align: center;
	letter-spacing: 0px;
	color : #686869;
}

.citation p {
	font-family: "Noto sans", sans-serif;
	font-size: 18px;
/*	text-align: : center;
*/	font-weight: bolder;
	text-align: center;
	color : #196969;
}

.boutonjaune {
 	/*font-family: "Noto sans", sans-serif;
	font-size: 16px;
	color: black;*/
	background-color: #686869; 
 	border : none;
 	text-align: center;
 	float: left;
}

button p {
	color: white ;
	font-family: "Noto sans", sans-serif;
	font-size: 16px;
	font-weight: bolder; 
}